@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');


span{
        color:#00c4cc
}

#title
{
        color:#FFFFFF;
        font-size: 2rem;
        font-family: 'Josefin Sans', sans-serif;


}

#crousel_img{
        height:500px;
        width:100%;
        

}


#course
{
        color:#000000;
        font-size: 2rem;
        font-family: font-family: 'Josefin Sans', sans-serif;
        margin-top:1.5rem;

        
}

#course_img{
        height:300px;

}

#about_img{
        height: 480px;
}
#about{
  color:#000000;
        font-size: 2rem;
        font-family: font-family: 'Josefin Sans', sans-serif;
        padding: 0px;
        
}
#btn{
  height: 3rem;
  width: 8rem;
  border:none;
  border-color: none;
  background-color:
  #544DE2;
  color: #FFFFFF;
  transition:0.5s;
  font-family: 'Montserrat', sans-serif;
  
}

#btn:hover{
 height: 3.2rem;
 width: 8.1rem;
 background-color:
#4742AD;
  
}
